#Sidebar {
    position: fixed;
    width: 130px;
    display: block;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
  .collapsed {
    visibility: collapse;
  }
  .external-icon {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  #Sidebar .header {
    padding: 5px;
    text-align: center;
    border-bottom: solid rgb(102, 0, 185) 1.5px;
  }
  #Sidebar .Sidebar-icon {
    position: absolute;
    left: 135px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  #Sidebar .item {
    margin: 10px;
  }
  #Sidebar .link-icon {
    position: relative;
    top: 1px;
  }
  #Sidebar .closemenu {
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
  }
  #Sidebar .switch {
    position: relative !important;
    top: 5px !important;
  }

  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }